.my_custom_header {
    background-color: #d5ebd5 !important; 
    color: white !important;
    border-bottom: 2px solid #ffffff !important; 
}
.custom_me {
    background-color: #db200b !important;
    color: #ffffff !important;
}
